.chatAvatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chatAvatar {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;

  @media(max-width: 800px) {
    height: 30px;
    width: 30px;
  }
}

.sidebarChat {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 12px;
  width: 100%;
  background: inherit;
  color: #303030;
}

.sidebarChat:hover {
  background-color: #F5F5F5;
}

.sidebarChat::before {
  content: "";
  position: absolute;
  width: 70%;
  bottom: 0;
  left: 80px;
  border-bottom: 1px solid #999;
  opacity: 0.2;
}

.chatInfo {
  flex: 10;
  margin-left: 15px;

  @media(max-width: 800px) {
    & h4 {
      font-size: 14px;
    }
  }
}


.chatInfo p {
  font-size: 13px;
  line-height: 20px;
  color: gray;

  @media (max-width: 800px) {
    font-size: 10px;
  }
}

.time p {
  flex: 1;
  font-size: 13px;
  white-space: nowrap;
  margin-top: -16px;
  color: gray;

  @media(max-width: 800px) {
    font-size: 10px;
  }
}

.active {
  background-color: rgba(128, 128, 128, 0.43);
}